<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- <link rel="stylesheet" href="../node_modules/tablesorter/dist/css/theme.blue.css" /> -->

  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../node_modules/tablesorter/dist/js/jquery.tablesorter.js"></script>

  <script src="../static/index.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#myTable").tablesorter();
    });
  </script>

</head>

<body>

  <h1>Technet IP overview</h1>
  <table id="myTable" class="tablesorter">
    <thead class='ui-widget-content'>
      <th>IP</th>
      <th>Description</th>
      <th>Status</th>
      <th>Last active</th>
    </thead>
    <tbody class='ui-widget-content'>
      <% for(var i=0; i<data.length; i++) {%>
        <tr <% if(data[i].state=="OFF" ){ %>
          <% } else{ %>
            bgcolor="#78AB46"
            <% } %>>
              <td>
                <%= data[i].ip %>
              </td>
              <td>
                <%= data[i].description %>
                  <button onclick="changedescription('<%= data[i].ip %>', '<%= data[i].description %>')"> edit </button>
              </td>
              <td>
                <%= data[i].state %>
              </td>
              <td>
                <%= data[i].date %>
              </td>
        </tr>
        <% } %>
    </tbody>
  </table>

</body>

</html>
