<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="../static/jquery-2.2.1.min.js"></script>
  <script src="../static/index.js"></script>
  <link rel="stylesheet" href="../static/jquery-ui.min.css" />
</head>

<body>

  <h1>Technet IP oversikt</h1>
  <table>
    <thead class='ui-widget-header'>
      <th>IP addresser</th>
      <th>Beskrivelse</th>
      <th>Status</th>
      <th>Sist aktiv</th>
    </thead>
    <tbody class='ui-widget-content'>
      <% for(var i=0; i<data.length; i++) {%>
        <tr <% if(data[i].state=="OFF" ){ %>
          <% } else{ %>
            bgcolor="#78AB46"
            <% } %>>
              <td>
                <%= data[i].ip %>
              </td>
              <td>
                <%= data[i].description %>
                  <button onclick="changedescription('<%= data[i].ip %>')"> edit </button>
              </td>
              <td>
                <%= data[i].state %>
              </td>
              <td>
                <%= data[i].date %>
              </td>
        </tr>
        <% } %>
    </tbody>
  </table>

</body>

</html>
